html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h1 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.background-vid {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
.sect-1-head {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
}

@media (max-aspect-ratio: 16/9) {
  .background-vid {
    width: 100%;
    height: auto;
  }
}
nav {
  display: flex;
  align-items: center;

  padding-top: 10px;
  padding-left: 96px;
  padding-right: 10%;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}
nav a {
  margin: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  size: 16px;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
}
.shopping-img {
  margin-left: 550px;
}
.location-img {
  margin-left: 20px;
}
.search-img {
  margin-left: 20px;
}
.nav-line {
  background-color: white;
  height: 2px;
  width: 1262px;
  margin-left: 100px;
  margin-top: 20px;
}
.text-u-line {
  color: white;
  font-size: 16px;
  font-weight: 300;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  margin-left: 100px;
  margin-top: 20px;
}
.first-ever {
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  margin-left: 100px;
  margin-top: 200px;
}
.i5 {
  color: white;
  font-size: 16px;
  font-weight: 100;
  margin-top: -20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 100px;
  font-size: 200px;
}
.bmw-png {
  margin-left: 100px;
}
.txt-png {
  margin-left: 140px;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  color: white;
  margin-top: -20px;
}
.sect1-btn {
  margin-left: 100px;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  color: white;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  padding: 4px;
  background-color: #1c69d4;
  border: 0px;
  font-weight: bold;
}

/* section-2 */

.sect-2-img {
  margin-top: 35px;
  height: 100vh;
  width: 100%;
  background-image: url("cq5dam.resized.img.1680.large.time1710832306635.png");
}
.sect2-h1 {
  margin-top: 5px;
  margin-left: 100px;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  font-size: 70px;
  color: white;
  font-weight: 100;
}
.sect2-h2 {
  margin-top: 10px;
  margin-left: 100px;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;

  color: white;
  font-weight: 100;
}

/* section - 3 */
.sect-3 {
  text-align: center;
  display: flex;
}

.st-text {
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  font-weight: 700;
  color: rgb(102, 102, 102);
  height: 20px;
  letter-spacing: 3px;
  margin-top: 50px;
}
.h1-txt {
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-seri;
  color: rgb(38, 38, 38);
  font-weight: 100;
  font-size: 48px;
  margin-top: 20px;
  line-height: 64px;
}
.one,
.two,
.three {
  height: 500px;
  flex: 1;
  background-color: white;
  border: 1px solid white;
}
.car-img {
  margin-top: 150px;
  height: auto;
  width: 100%;
}
.txt-u-img {
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: rgb(38, 38, 38);
  font-size: larger;
  line-height: 28px;
}
.search-btn {
  background: transparent;
  border: 2px solid black;
  height: 50px;
  width: 120px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}
.car2-img {
  margin-top: -10px;
  height: auto;
  width: 100%;
}
.search2-btn {
  background: transparent;
  border: 2px solid black;
  height: 50px;
  width: 200px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}
.search3-btn {
  background: transparent;
  border: 2px solid black;
  height: 50px;
  width: 200px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}

/* Section-4 */

.sect-4-img {
  margin-top: 35px;
  height: 160vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.upper {
  width: 100%;
  height: 75vh;
  background-image: url(g70m.webp);
  background-size: cover;
}

.lower {
  width: 100%;
  height: 75vh;
  margin-top: 25px;
  background-image: url(https://bmw.scene7.com/is/image/BMW/DI21_000048047:3to1?fmt=webp&wid=2560&hei=853);
  background-position: center;
  background-size: cover;
}
.txt-i7 {
  margin-top: 180px;
  margin-left: 100px;
  font-weight: lighter;
  font-size: 40px;
  color: white;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  letter-spacing: 2px;
}
.sect4-png {
  width: 60px;
  margin-left: 100px;
  margin-top: 5px;
}
.txt-n-png {
  margin-left: 175px;
  font-weight: lighter;
  margin-top: -25px;
  color: white;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}
.sect4-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-left: 100px;
  width: 220px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}
.txt-for {
  margin-top: 180px;
  margin-left: 100px;
  font-weight: 100;
  font-size: 50px;
  color: white;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  letter-spacing: 2px;
}
.the {
  margin-left: 100px;
  font-weight: 100px;
  font-size: 50px;
  color: white;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  letter-spacing: 2px;
}
.sect4-btn2 {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-left: 100px;
  width: 300px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}

/* section 5 */

.sect-5-img {
  margin-top: 35px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 1;
}
.img-area {
  background-color: white;
  width: 50%;
  padding-left: 100px;
}
.text-area {
  padding-left: 20px;
  width: 50%;
}
.sect5-img1 {
  width: 700px;
  height: 50vh;
}
.sect5-img2 {
  margin-top: 60px;
  width: 700px;
  height: 50vh;
}
.bmw-txt {
  margin-top: 60px;
  color: #5f5f60;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  letter-spacing: 2px;
}
.se5-h1 {
  margin-top: 5px;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(57, 56, 56);
  line-height: 64px;
  font-size: 50px;
}
.se5-h12 {
  margin-top: 5px;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(57, 56, 56);
  line-height: 64px;
  font-size: 50px;
}
.se5-p {
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
}
.sect5-btn1 {
  background-color: transparent;
  border: 1px solid black;
  color: black;

  width: 200px;
  height: 50px;
  margin-top: 28px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}
.bmw-txt2 {
  margin-top: 120px;
  color: #5f5f60;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  letter-spacing: 2px;
}
/* section 6 */

.gray-line {
  margin-top: 20px;
  background-color: #d3d1d1;
  height: 0.1px;
  width: 100%;
}
/* section 7 */

.sect-7 {
  margin-top: 30px;
  padding-left: 100px;
}
.sect7-p1 {
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: small;
}
.sect7-p2 {
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  font-weight: bolder;
  font-size: medium;
  margin-left: 160px;
  margin-top: -28px;
}

/* section 8 */

.sect-8 {
  margin-top: 15px;

  width: 100%;
  background-color: #fafafa;
  display: flex;
  flex: 1;
  padding-top: 60px;
}
.one-oo,
.two-oo,
.three-oo,
.four-oo {
  width: 25%;
  height: 45vh;
  margin-left: 55px;
}
ul {
  list-style-type: none;
}
.social-icons {
  width: 30px;
  margin-top: 70px;
  margin-left: 15px;
}
.one-head {
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  font-weight: 100;
  font-size: x-small;
  letter-spacing: 2px;
}
.li-txt {
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  font-weight: bold;
  color: #30302f;
}

/* section 9 */

.sect-9-footer {
  margin-top: 30px;
  display: flex;
  flex: 1;
}
.foot-one,
.foot-two {
  height: 50px;
  width: 50%;
}
.foot-date {
  margin-left: 100px;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
  font-weight: 100;
  font-size: smaller;
}
.foot-a-1 {
  font-size: smaller;
  font-weight: bold;
  margin-left: 300px;
  text-decoration: none;
  color: black;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
}
.foot-a {
  margin-left: 20px;
  font-size: smaller;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
}
